.trusted {
	z-index: -1;
	background-color: $grey-light;
	display: grid;
	position: relative;
	padding: 250px 40px;
	overflow: hidden;

	@include small {
		padding: 125px $mobile-padding;
	}

	@include xlarge {
		padding: 500px 40px;
	}

	& .section__heading {
		@include small {
			text-align: center;
		}
	}

	$negativeDistance: -110px;
	&:before,
	&:after {
		$w: 560px;
		@extend .negativeSkew;
		content: '';
		position: absolute;
		width: 520px;
		height: 400px;
		transform-origin: top;
		background-color: #fff;

		@include small {
			width: $w / 2;
		}

		@include xlarge {
			width: 900px;
		}
	}
	&:before {
		bottom: 100%;
		margin-bottom: $negativeDistance;
		z-index: 1;
		left: 0;

		@include small {
			margin-bottom: $negativeDistance / 2;
		}

		@include xlarge {
			margin-bottom: $negativeDistance * 2;
		}
	}

	&:after {
		right: 0;
		top: 100%;
		margin-top: $negativeDistance;
		transform-origin: bottom;

		@include small {
			margin-top: $negativeDistance / 2;
		}

		@include xlarge {
			margin-top: $negativeDistance * 2;
		}
	}

	&__company {
		display: grid;

		justify-content: center;
		align-items: center;
		justify-items: center;
		grid-template-columns: repeat(auto-fit, minmax(auto, 200px));

		@include xlarge {
			grid-template-columns: repeat(auto-fit, minmax(auto, 400px));
		}

		& > img {
			margin: 0 16px;

			&:last-of-type {
				margin-right: 0;

				@include small {
					margin-right: 16px;
				}
			}

			@include small {
				margin-bottom: 32px;
			}

			@include xlarge {
				margin: 0;
				transform: scale(2);
			}
		}
	}
}
